.owntitle{
    font-size: 10.0em;
    position: absolute;
    top: 15%;
    left: 12%;
    color: rgb(255, 134, 215);
    font-family: 'Brush Script MT', cursive;
}

.ownbody1{
    font-size: 3.0em;
    position: absolute;
    top: 30%;
    left: 12%;
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
}

.ownbody2{
    font-size: 3.0em;
    position: absolute;
    top: 35%;
    left: 12%;
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
}

.ownbody3{
    font-size: 4.0em;
    position: absolute;
    top: 42%;
    left: 12%;
    color: rgb(255, 134, 215);
    font-family: Garamond, serif;
}







.owntitle2{
    font-size: 10.0em;
    position: absolute;
    top: 15%;
    left: 55%;
    color: rgb(255, 134, 215);
    font-family: 'Brush Script MT', cursive;
}

.ownbody4{
    font-size: 3.0em;
    position: absolute;
    top: 30%;
    left: 55%;
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
}

.ownbody5{
    font-size: 3.0em;
    position: absolute;
    top: 35%;
    left: 55%;
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
}

.ownbody6{
    font-size: 4.0em;
    position: absolute;
    top: 42%;
    left: 55%;
    color: rgb(255, 134, 215);
    font-family: Garamond, serif;
}

