<!-- <p>home works!</p> -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
  
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../../assets/slider-bg.jpg" class="d-block w-100" alt="...">
        <h5 class="owntitle">%20</h5>
        <p class="ownbody1">Mutfak Ürünlerinde</p>
   
        <p class="ownbody2">%20 ye Varan İndirimleri</p>
    
        <p class="ownbody3">Kaçırma</p>
        <div class="carousel-caption d-none d-md-block">  
          
          <button class="btn" style="background-color: rgb(255, 134, 215);" routerLink="products">Ürünleri Görüntüle</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../../assets/arrival-bg.jpg" class="d-block w-100" alt="...">
        <h5 class="owntitle2">%10</h5>
        <p class="ownbody4">Teknoloji Ürünlerinde</p>
   
        <p class="ownbody5">%10 a Varan İndirimleri</p>
    
        <p class="ownbody6">Kaçırma</p>
        <div class="carousel-caption d-none d-md-block">
          <button class="btn" style="background-color: rgb(255, 134, 215);" routerLink="products">Ürünleri Görüntüle</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>





