.product-image-card {
    max-width: 242px;
    float: left;
    margin: 5px;
  }

  .image-for{
    max-width: 242px;
    max-height: 250px;
  }
  
  .product-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }