<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bgcolor">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="">E-Ticaret</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="products">Products</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="baskets">Baskets</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="register"
                        *ngIf="!authService.isAuthenticated">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="login"
                        *ngIf="!authService.isAuthenticated">Log In</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="" style="color: red;"
                        (click)="signOut()" *ngIf="authService.isAuthenticated">Exit</a>
                    </li>
    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
    
                    <li>
                        <a class="btn btn-outline-success" routerLink="admin"
                        *ngIf="authService.isAuthenticated">Admin</a>
                    </li>
                </ul>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
                <div class="d-flex">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Sepet
                      </button>
                </div>
            </div>
        </div>
    </nav>


    <router-outlet></router-outlet>

</div>
<ngx-spinner name="s1" type="square-jelly-box"></ngx-spinner>
<ngx-spinner name="s2" type="ball-scale-multiple"></ngx-spinner>
<ngx-spinner name="s3" type="ball-atom"></ngx-spinner>
<ngx-spinner name ="s4" type="ball-spin-clockwise-fade-rotating"></ngx-spinner>



<app-baskets></app-baskets>