<mat-form-field appearance="fill" class="product-margin">
    <mat-label>Name</mat-label>
    <input matInput #txtName>
</mat-form-field>

<mat-form-field appearance="fill"  class="product-margin">
    <mat-label>Stock</mat-label>
    <input matInput type="number" min="0" value="0" #txtStock>
</mat-form-field>
 
<mat-form-field appearance="fill"  class="product-margin">
    <mat-label>Price</mat-label>
    <input matInput type="number" min="0" value="0" #txtPrice>
</mat-form-field>

<button mat-button  class="product-add-button" (click)="create(txtName, txtStock, txtPrice)">Add Product</button>


