<!-- <ul>
    <li><a  routerLink="/admin">Dashboard</a></li>
    <li><a routerLink="customer">Customer</a></li>
    <li><a routerLink="products">Products</a></li>
    <li><a routerLink="order">Order</a></li>
    <li><a routerLink="">Site</a></li>
</ul> -->


<mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin">Dashboard</a>
    <a mat-list-item role="listitem" routerLink="customer">Customer</a>
    <a mat-list-item role="listitem" routerLink="products">Products</a>
    <a mat-list-item role="listitem" routerLink="order">Order</a>
    <a mat-list-item role="listitem" routerLink="">Site</a>
    
  </mat-list>